<!--<div class="container">
  <p>login works!</p>
  {{ customer_name}}...
  <input type="text" value="{{customer_name}}" />
  <br />
  <input type="text" [value]="customer_name" />
  <div [class]="chooseclass">
    This is my new class
  </div>
  <button class="btn btn-primary" (click)="changestyle()">click</button>
  <hr>
  <span [class]="toggleStyle" (click)="toggle()"></span>
  <hr>
  <span [class]="toggleValue?'glyphicon glyphicon-heart':'glyphicon glyphicon-heart-empty'" (click)="toggleValue=!toggleValue"></span>
  <br />
  {{likesCount}}
  <br />
  <input type="text" [value]="customer_name" #cname (change)="changeName(cname.value)">
  <br />
  <input type="text" [(ngModel)]="customer_name">
</div>--> 

<section class="loginSec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 loginPage pt-5">

        <div class="loginInner">
          <h2 class="text-center">Login</h2>
          <form [formGroup]="myLoginForm" (ngSubmit)="login()">
            <div class="mt-3">
              <label class="">Email ID <span class="text-danger">*</span></label>
              <div class="input-group mt-2">
                <span class="input-group-text"><i class="fa-regular fa-envelope"></i></span>
                <input type="text" class="form-control" formControlName="username" />
                <span *ngIf="username.touched && !username.valid" class="danger"
                      appErrorColor appErrorclr="2">
                  Please Enter User Name
                </span>
              </div>
            </div>
            <div class="mt-3">
              <label class="">Password <span class="text-danger">*</span></label>
              <div class="input-group mt-2">
                <span class="input-group-text"><i class="fa-sharp fa-solid fa-lock"></i></span>
                <input type="password" class="form-control" formControlName="password" />
                <span *ngIf="password.touched && !password.valid" class="danger">
                  <span *ngIf="password.errors['required']">
                    Please Enter Password
                  </span> 
                </span>
              </div>
            </div>

            <div class="col-12">
              <div class="text-end">
                <div class="form-group">
                  <button type="submit" class="btn btn1">Login </button>
                </div>

              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
