
<!-- <app-sample></app-sample>
<app-first></app-first> -->
<!-- <app-customer></app-customer> -->
<div [ngSwitch]="choice">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Menu</a>
    <!--<div class="navbar-nav">
      <a (click)="choice='show'" class="nav-item nav-link">Products</a>
      <a (click)="choice='edit'" class="nav-item nav-link">Edit</a>
      <a (click)="choice='add'" class="nav-item nav-link">Cart</a>
      <a (click)="choice='reg'" class="nav-item nav-link">Register User</a>
    </div>-->
    <div class="navbar-nav">
      <!--<a routerLink="products" class="nav-item nav-link">Products</a>
  <a routerLink="edit" class="nav-item nav-link">Edit</a>
  <a routerLink="cart" class="nav-item nav-link">Cart</a>

  <a routerLink="list" class="nav-item nav-link">Product list</a>
  <a routerLink="post" class="nav-item nav-link">Post</a>
  <a routerLink="addproduct" class="nav-item nav-link">Add Product</a>-->
      <a routerLink="reg" class="nav-item nav-link">Register User</a>
      <a routerLink="images" class="nav-item nav-link">Serach Image</a>
      <a routerLink="SH" class="nav-item nav-link">Serach History</a>
      <a routerLink="Login" class="nav-item nav-link">Login</a>
    </div>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
  <!--<div *ngSwitchCase="'show'">
    <app-products class="row"></app-products>
  </div>

  <div *ngSwitchCase="'add'">
    <app-cart></app-cart>
  </div>
  <div *ngSwitchCase="'edit'">
    <app-edit-product></app-edit-product>
  </div>

  <div *ngSwitchCase="'reg'">
    <app-register></app-register>
  </div>-->
  <!--{{data | text:20 }}-->
</div>

